{% extends "base.jinja" %}
{% block content %}
<H1>List of countries</H1>
(the numbers are the numbers for the last full day)
<table data-toggle="table">
    <thead>
    <tr>
        <th data-sortable="true">Country</th>
        <th data-sortable="true">Active</th>
        <th data-sortable="true">Active/(1M ppl)</th>
        <th data-sortable="true">Cases</th>
        <th data-sortable="true">Cases/(1M ppl)</th>
        <th data-sortable="true">Deaths</th>
        <th data-sortable="true">Deaths/(1M ppl)</th>
        <th data-sortable="true">Recovered</th>
        <th data-sortable="true">Recovered/(1M ppl)</th>
    </tr>
    </thead>
    <tbody>
    {% for country in countries %}
    <tr>
        <td>
            <A href="{{country}}.html">{{country}}</A>
        </td>
        <td>{{(countries[country].cases - countries[country].deaths - countries[country].recovered) }}</td>
        <td>{{(1000000*(countries[country].cases - countries[country].deaths - countries[country].recovered)/countries[country].inhabitants) | round(4)}}
        </td>
        <td>{{countries[country].cases}}</td>
        <td>{{(1000000*countries[country].cases/countries[country].inhabitants) | round(4)}}</td>
        <td>{{countries[country].deaths}}</td>
        <td>{{(1000000*countries[country].deaths/countries[country].inhabitants) | round(4)}}</td>
        <td>{{countries[country].recovered}}</td>
        <td>{{(1000000*countries[country].recovered/countries[country].inhabitants) | round(4)}}</td>
    </tr>
    {% endfor %}

    </tbody>
</table>

{% endblock %}
